body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,110,1) 50%, rgba(0,212,255,1) 100%);
    color: whitesmoke !important;
}

.center {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.tm-social {
    width: 40px;
    height: 40px;
}
.corcard{
    color: black !important;
}