body{
    color: white;
    background: rgb(9,9,10);
    background: radial-gradient(circle, rgba(9,9,10,1) 9%, rgba(226,0,46,1) 82%);
}

.semnegrito {
    font-weight: 100;
}
.semsublinhado{
    text-decoration: none;
}

.imagemcentrada {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.center{
    text-align: center;
}

.t20{
    font-size: 20px;
}

.right{
    text-align: right;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}


#menu li{
    display: inline;
    padding: 0px;
}

#menu li a:hover{
    text-decoration: none;
    color: aquamarine;
    font-size: 20px;
}

.p-30{
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
}

.wh-400 {
    width: 400px;
    height: 400px;
}

.tm-social{
    width: 40px;
    height: 40px;
}

.tm-plataforma{
    width: 100px;
    height: 100px;
}

.mb-50 {
    margin-bottom: 50px;
}

.justify{
    text-align: justify;
}

.BUTTON_TGL{
    line-height: 0;
    color:whitesmoke;
    font-family: Arial;
    font-size: 21px;
    font-weight: 100;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: block;
 }

 .fixbotao {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
 }